@charset "utf-8";
html, body{width:100%;padding:0;margin:0;}
body{font-family:"微软雅黑","华文细黑",Arial, Helvetica, sans-serif;font-size:14px;user-select:none;-webkit-user-select:none;-webkit-text-size-adjust: none;background-color:#999;}

.game_time{width:100px;height:100px;position:absolute;top:5%;left:5%;text-align:center;}

/* time scroll*/
.pie{width:50px;height:50px;background-color:#e4e4e4;border-radius:50px;position:absolute;}
.pie1{clip:rect(0px,50px,50px,25px);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);background-color:#fff;}
.pie2{clip:rect(0px,25px,50px,0px);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);background-color:#fff;}
.hold{width:50px;height:50px;position:absolute;z-index:1;}
.bg{width:50px;height:50px;border-radius:25px;position:absolute;background-color:#e4e4e4;}
.time{width:40px;height:40px;margin:5px 0 0 5px;background-color:#fff;color:#000;border-radius:80px;position:absolute;z-index:1;text-align:center;line-height:40px;font-size:15px;}