@charset "UTF-8";
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana,"Microsoft YaHei", "SimHei", "SimSun";
}
body {
    /*padding: 0 0 65px;*/

}
img {
    /*max-width: 100%;*/
    display: block;
    border:0;
    vertical-align:middle;
}
ul {
    list-style:none;
}
html, body {
    min-height: 100%;
    background: #fff;
}
body {
    /*font-family: Verdana;*/
    -webkit-text-size-adjust: none;
}
/* header */
.header{position:relative;height:50px;background:rgba(170,169,169,0.3);;}
.header .logo{display:block;height:40px;padding-top: 10px;width: 80%; text-decoration:none;}
.header .logo img{display:block;width:100%;}
.header .back{position:absolute;top:0;left:0;display:block;width:50px;height:50px;text-indent:-9999em;background:url(/tmweb/image/xhds/icon-back.png) no-repeat center center;background-size:24px 20px;}

@media (min-width:829px){body{width:828px;margin:0 auto;}}