@charset "UTF-8";
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Microsoft YaHei",Verdana, "SimHei", "SimSun";
}
body {
    /*padding: 0 0 65px;*/

}
img {
    /*max-width: 100%;*/
    /*display: block;*/
    border:0;
    vertical-align:middle;
}
ul {
    list-style:none;
}
html, body {
    min-height: 100%;
    background: #fff;
}
body {
    /*font-family: Verdana;*/
    -webkit-text-size-adjust: none;
}
/* header */
.header{position:relative;height:50px;background:rgba(170,169,169,0.3);}
.header .logo{display:block;height:40px;padding-top: 10px;width: 80%; text-decoration:none;}
.header .logo img{display:block;width:100%;}
.header .back{position:absolute;top:0;left:0;display:block;width:50px;height:50px;text-indent:-9999em;background:url(/tmweb/image/xhds/icon-back.png) no-repeat center center;background-size:24px 20px;}

@media (min-width:829px){body{width:828px;margin:0 auto;}}
/*pc预览页时去除iframe中的横向滚动条用*/
body{ overflow-x: hidden; }
.phone-main .page-w{
    position: relative;
    padding-top: 0.1px;
    overflow: hidden;
}
/*mod style*/
.mod-picgroup {
    text-align: center;
    /*padding-bottom: 8px;*/
}
.mod-picgroup {
    font-size: 0;
    margin-top: 6px;
}
.mod-picgroup .pic-gp3 li {
    display: inline-block;
    width: 32%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: top;
}
.module-drag .mod-picgroup .pic-gp3 li {
    width: 28%;
    padding: 2%;
    vertical-align: top;
    display: inline-block;

}
.mod-picgroup .pic-gp3 li p {
    /*color: white;*/
    /*background-color: rgba(0, 0, 0, 0.3);*/
    font-size: 0.5rem;
    /*text-indent: 10px;*/
    /*text-overflow: ellipsis;*/
    /*height: 24px;*/
    /*margin-top: -24px;*/
    /*opacity: 0.9;*/
    /*text-align: left;*/
    line-height: 12px;
    width: 100%;
    overflow: hidden;
}
.mod-picgroup li img {
    width: 100%;
}
.focuspoint {
    position: relative; /*Any position but static should work*/
    overflow: hidden;
}
.focuspoint img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    display: block;
    /* fill and maintain aspect ratio */
    width: auto; height: auto;
    min-width: 100%; min-height: 100%;
    max-height: none; max-width: none;
}

.imgindex1{
    /*height:auto!important;*/
    /*height:100%;*/
    min-height:5rem;
    max-height: 8rem;
    width: auto;
    max-width:100%;
    left:0;
    /*height: 8rem;*/
    top: 0%;
}
.imgindex2{
    /*height:auto!important;*/
    /*height:100%;*/
    min-height:6.5rem;
    max-height: 9rem;
    width: auto;
    max-width:100%;
    left:0;
    /*height: 8rem;*/
    top: 0%;
}
.p-box-shadow{
    padding: 3px;
    /*width: 4.5rem;*/
    /*border: 1px solid #000;*/
    /*-webkit-box-shadow: 3px 0 3px rgba(288,288,288, 1), *//*左边阴影*/
    /*3px 0 3px rgba(288,288,288, 1), *//*右边阴影*/
    /*0 -3px 3px rgba(288,288,288, 1), *//*顶部阴影*/
    /*0 3px 3px rgba(288,288,288, 1); *//*底边阴影*//*;*/
    /*box-shadow:-3px 0 3px rgba(288,288,288, 1), *//*左边阴影*/
    /*3px 0 3px rgba(288,288,288, 1), *//*右边阴影*/
    /*0 -3px 3px rgba(288,288,288, 1), *//*顶部阴影*/
    /*0 3px 3px rgba(288,288,288, 1); *//*底边阴影*/
    -webkit-box-shadow:1px 1px 3px #e4e4e4;
    -moz-box-shadow:1px 1px 3px #e4e4e4;
    box-shadow:1px 1px 3px #e4e4e4;
}
.player1{
    background: #FFFFFF;
    margin: 0.2em;
    /*padding: 3px;*/
}
.player1 p{
    line-height: 1.8em;
    font-size: 0.6em
}
.phbtn1{
    margin-top: 3px;
    margin-bottom: 3px
}
.phimg2{
    position:absolute;width:15px;top:13px;z-index: 999
}
.php1{
    margin-top:0.5em;height:1.2em;border-bottom: 1px solid  #AAA9A9
}
.php2{
    margin-top:0.5em;height:1.3em;border-bottom: 1px solid  #AAA9A9
}
.phsp1{
    font-size: 0.8em;position:absolute;left: 0.5em;padding-bottom: 0;color:  #4D4948
}
.phsp2{
    font-size: 0.8em;position:absolute;right: 0em;padding-bottom: 0;color: #4D4948
}
.phsp3{
    color:rgb(195,48,44);
}
.phimg3{
    height: 100%;position: absolute;width:0.3em;left: 1.5em;z-index: 2;opacity: 0.8
}
.phimg4{
    height: 1em;padding-left: 0.5em
}
.phimg5{
    width: 90%}
.phimg6{
   position: relative; width:15px;top:0px;z-index: 999
}
.phimg7{
    margin-top: -19px;
}

/*btmore*/

.hidden{ display: none;}
.btmore{ }
.btmore ul.list{overflow: hidden;}
.btmore ul.list li{
    display: inline-block;
    width: 32%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: top;
    overflow: hidden;}
.btmore ul.list li img{width: 100%;height: auto}
.btmore ul.list p{
    text-align: center;
    font-size: 0.5rem;
    line-height: 12px;
    width: 100%;
    overflow: hidden;
}
.btmore .more{overflow: hidden;padding:10px;text-align: center;}
.btmore .more a{display: block;width: 80px;padding:8px 0;color:#fff;margin:0 auto;background:#333;text-align:center;border-radius:3px;}
.btmore .more a:hover{text-decoration: none;background: red;color: #fff;}