body{
    width: 100%;
    height:100%;
}
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Microsoft YaHei",Verdana, "SimHei", "SimSun";
}
img {
    /*max-width: 100%;*/
    /*display: block;*/
    border:0;
    vertical-align:middle;
}
ul {
    list-style:none;
}
html, body {
    min-height: 100%;
    background: #fff;
}
body {
    /*font-family: Verdana;*/
    -webkit-text-size-adjust: none;
}
/* header */
.header{position:relative;height:50px;background:rgba(170,169,169,0.3);}
.header .logo{display:block;height:40px;padding-top: 10px;width: 80%; text-decoration:none;}
.header .logo img{display:block;width:100%;}
.header .back{position:absolute;top:0;left:0;display:block;width:50px;height:50px;text-indent:-9999em;background:url(/tmweb/image/xhds/icon-back.png) no-repeat center center;background-size:24px 20px;}

@media (min-width:829px){body{width:828px;margin:0 auto;}}
.container{
    margin: 1.5em;
}
.swiper-container{
    border:0px solid #eee;
    width: 100%;
    margin: 0 0 5px 0;
    /*overflow-y: scroll;*/
    /*overflow-x:hidden ;*/
}
.my-pagination .swiper-pagination-bullet{
    width:24.25%;
    /*border:1px solid #fff;*/
    /*background:#eee;*/
    background-image: url(/tmweb/image/xhds/xq-11.png);
    background-size:cover;
    background-repeat:no-repeat;
    /*background-image: url(image/xq-11.png) 100% 100% no-repeat;*/
    background-position: 60% 60%;
    height:2.5em;
    line-height: 2.2em;
    text-align:center;
    border-radius:0;
    opacity: 1;
    font-size: 1.1em;
    font-weight: 800;
    color:#4D4948;
}
.my-pagination .swiper-pagination-bullet-active{
    opacity: 1;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0;
}
.dep1{
    margin:2em 1em 1em
}
.swiper-pagination-bullets span:nth-child(1){
    margin-right:1%!important;
}
.swiper-pagination-bullets span:nth-child(2){
    margin-right:1%!important;
}
.swiper-pagination-bullets span:nth-child(3){
    margin-right:1%!important;
}
.swiper-pagination-bullets span:nth-child(4){
}
.swiper-pagination-bullet-active{
    background-image: url(/tmweb/image/xhds/xq-12.png) !important;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 60% 60%;
    color:#fff!important;
    background:#ffffff;
}
.swiper-pagination-bullet{
    background:#ffffff;
}
